---js
const eleventyNavigation = {
	key: "About",
	order: 3
};
---

<h1> About </h1>
<p>
My name is Kenneth Meng. I am a process engineer in Northern Nevada. I am passionate about home automation (using Home Assistant), lighting, consumer electronics generally, and baking. I created this website to document my projects and to have a custom domain for my email.    
</p>

{% include "contact.njk" %}